build/
COMMERCIAL_LICENSE.txt
database/
dist/
Dockerfile
.dockerignore
docs/
examples/
finhack/
finhack.egg-info/
.git/
.gitignore*
LICENSE.txt
MANIFEST.in
README.md
requirements.txt
script/
setup.py
tests/
