data/config/*.conf
data/backtest/*
data/cache/factors/*
data/cache/index/*
data/cache/price/*
data/cache/price/single_factors_tmp2/*
data/cache/price/single_factors_tmp1/*
data/factors/code_factors/*
data/factors/date_factors/*
data/factors/single_factors/*
data/logs/backtest/*
data/logs/*.log
data/models/*
data/running/*
data/preds/*

__pycache__/
*.log
*.swp
*.csv
*.pkl
nohup.out
factors/namespace/
factors/indicators/
*.zip
research/.ipynb_checkpoints/
*.log
/datalogs/
logs/
ui/backend/conf/env.py
