asgiref==3.5.2
channels==3.0.5
DBUtils==3.0.2
django_filter==21.1
django_recaptcha==3.0.0
django_restql==0.15.1
django_tenants==3.4.8
django_timezone_field==4.2.3
djangorestframework_simplejwt==5.1.0
drf_yasg==1.20.0
empyrical==0.5.5
gplearn==0.4.2
h5py==3.6.0
lightgbm==3.3.5
numpy==1.23.1
objgraph==3.5.0
openpyxl==3.0.9
pandarallel==1.6.3
pandas==1.5.0
PyJWT==2.6.0
PyMySQL==1.0.2
pypinyin==0.46.0
python_memcached==1.59
QuantStats==0.0.59
redis==4.3.4
requests==2.25.1
rest_framework_simplejwt==0.0.2
scikit_learn==1.2.2
scipy==1.10.1
six==1.16.0
SQLAlchemy==1.4.19
TA_Lib==0.4.24
tenant_schemas_celery==2.1.0
torch==1.11.0+cu113
tushare==1.2.87
user_agents==2.2.0
