Bottleneck==1.3.5
codegen==1.0
empyrical==0.5.5
gplearn==0.4.2
loguru==0.7.0
mysql_connector_repackaged==0.3.1
numpy==1.21.5
objgraph==3.5.0
pandarallel==1.6.3
pandas==1.5.0
plotext==5.2.8
psutil==5.9.0
PyMySQL==1.0.2
QuantStats==0.0.59
redis==4.3.4
requests==2.29.0
scikit_learn==1.3.2
scipy==1.10.1
setuptools==66.0.0
SQLAlchemy==1.4.19
TA_Lib==0.4.24
tabulate==0.8.10
mysql-connector-python==8.0.30
tushare==1.2.87
lightgbm==4.2.0
cryptography==39.0.1
alphalens-reloaded==0.4.3